<template>
  <div>
    Active comming soon!
  </div>
</template>

<script>
import {activeAccount} from "@/service/services";

export default {
  name: "Active",
  created() {
    let token = this.$route.params.token
    activeAccount(token).then(response => {
      console.log(response)
      alert(response)
    }).catch(err => {
      alert("Active error! " + err.response.data.error.message)
    }).then(
        this.$router.push('/')
    )
  }
}
</script>

<style scoped>

</style>