<template>
  <div class="p-4 form rounded">
    <h4 class="text-center text-primary">Create post</h4>
    <b-form id="create-form">
      <b-form-group class="shadow bg-white rounded">
        <!-- <b-form-input v-model="category" :state="validateCategory" required placeholder="category" class="shadow-sm p-3 mb-2 bg-white rounded"></b-form-input>
          <b-form-invalid-feedback :state="validateCategory">Category must be 1-100 characters long.</b-form-invalid-feedback>
          <b-form-valid-feedback :state="validateCategory"></b-form-valid-feedback> -->
        <!-- <b-form-select v-model="category" :options="options">Choose Category</b-form-select> -->
        <select v-model="category" class="border-0 container-fluid">
          <option disabled>Choose category</option>
          <option value="Action" selected>Action</option>
          <option v-for="(item, index) in options" :key="index">{{item}}</option>
        </select>
      </b-form-group>
      <b-form-group>
        <b-form-input
          v-model="title"
          :state="validateTitle"
          required
          placeholder="title"
          class="shadow-sm p-3 mb-2 bg-white rounded"
        ></b-form-input>
        <b-form-invalid-feedback :state="validateTitle"
          >Tittle must be 1-100 characters long.</b-form-invalid-feedback
        >
        <b-form-valid-feedback :state="validateTitle"></b-form-valid-feedback>
      </b-form-group>
      <b-form-group>
        <b-form-textarea
          v-model="content"
          :state="validateContent"
          required
          placeholder="content"
          rows="10"
          class="shadow-sm p-3 mb-2 bg-white rounded"
        ></b-form-textarea>
        <b-form-invalid-feedback :state="validateContent"
          >Content must be 1-5000 characters long.</b-form-invalid-feedback
        >
      </b-form-group>
      <b-form-group>
        <b-form-input
          v-model="authorName"
          :state="validateAuthorName"
          placeholder="author name"
          class="shadow-sm p-3 mb-2 bg-white rounded"
        ></b-form-input>
        <b-form-invalid-feedback
          >Author name must be 1-50 characters long.</b-form-invalid-feedback
        >
      </b-form-group>
      <div class="preview mx-auto border-0">
        <img
          v-if="thumbnail"
          :src="url"
          class="img-preview"
          style="border: 2px dotted #9b9b9b"
        />
        <div v-else class="text-center p-0">
          <!-- <img src="https://betachon.com/wp-content/uploads/2019/03/upload-your-logo-here-21052-p.png" alt="upload" class="h-100 w-100 center"> -->
          <img
            src="https://betachon.com/wp-content/uploads/2019/03/upload-your-logo-here-21052-p.png"
            alt="upload"
            class="h-100 w-100 center"
          />
        </div>
      </div>
      <b-form-group class="px-5">
        <b-form-file
          @change="setImgPreview($event)"
          :state="validateThumbnail"
          v-model="thumbnail"
          placeholder="Choose image(png/jpeg)"
          accept="image/jpeg, image/png"
          class="shadow-sm p-3 mb-2 bg-white rounded"
        ></b-form-file>
        <b-form-invalid-feedback :state="validateThumbnail"
          >Require</b-form-invalid-feedback
        >
        <b-form-valid-feedback
          :state="validateThumbnail"
        ></b-form-valid-feedback>
      </b-form-group>
    </b-form>
    <div class="d-flex justify-content-center">
      <router-link to="/"
        ><b-button variant="outline-primary" class="shadow-sm mb-2 mx-4"
          >Cancel</b-button
        ></router-link
      >
      <b-button
        variant="outline-primary"
        v-on:click="submitPost()"
        class="mx-4 shadow-sm mb-2"
        >Submit</b-button
      >
    </div>
  </div>
</template>

<script>
import { createPostRequest, uploadImage } from "../service/services";

export default {
  name: "CreateNewPost",
  data() {
    return {
      category: "Action",
      title: "",
      content: "",
      authorName: "",
      thumbnail: null,
      url: "",
      validateCategory: null,
      validateTitle: null,
      validateContent: null,
      validateAuthorName: null,
      validateThumbnail: null,
      options: ["Horror", "Comedic", "Cartoon", "Music"],
    };
  },
  methods: {
    submitPost() {
      this.validateCategory = !(
        this.category.length > 200 || this.category <= 0
      );
      this.validateTitle = !(this.title.length > 200 || this.title.length <= 0);

      this.validateContent = !(
        this.content.length > 5000 || this.content.length <= 0
      );

      this.validateAuthorName = !(
        this.authorName.length > 50 || this.authorName.length <= 0
      );

      this.validateThumbnail = !(this.thumbnail == null);

      if (
        this.validateTitle &&
        this.validateContent &&
        this.validateAuthorName &&
        this.validateThumbnail
      ) {
        const formData = new FormData();
        formData.append("thumbnail", this.thumbnail);

        uploadImage(formData)
          .then((res) => {
            if (res) {
              let d = new Date();
              let post = {
                category: this.category,
                title: this.title,
                content: this.content,
                authorName: this.authorName,
                createdDate: d.toJSON(),
                updatedDate: d.toJSON(),
                thumbnail: res,
              };

              createPostRequest(post).then((res) => {
                if (res) {
                  this.$bvModal
                    .msgBoxOk("Create post successfully!", {
                      size: "sm",
                      buttonSize: "sm",
                      okVariant: "success",
                      centered: true,
                    })
                    .then(() => {
                      this.$router.push("/");
                    });
                } else {
                  this.$bvModal
                    .msgBoxOk(
                      `Failed to create post! Reason: ${res.error.message}`,
                      {
                        size: "sm",
                        buttonSize: "sm",
                        okVariant: "failure",
                        centered: true,
                      }
                    )
                    .then(() => {
                      this.$router.push("/");
                    });
                }
              });
            }
          })
          .catch((error) => {
            if (error.response.data.error.code === 403) {
              this.$bvModal
                .msgBoxOk(
                  `Failed to create post! Reason: ${error.response.data.error.message}`,
                  {
                    size: "sm",
                    buttonSize: "sm",
                    okVariant: "failure",
                    centered: true,
                  }
                )
                .then(() => {
                  localStorage.removeItem("jwt");
                  this.$router.push("/login");
                });
            }
          });
      }
    },
    setImgPreview(e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
    },
  }
};
</script>

<style scoped>
.form {
  width: 50%;
  margin: 1em auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.preview {
  width: 7.5em;
  height: 7.5em;
  margin: 1em auto;
}
.img-preview {
  width: 100%;
  height: 100%;
}
.text-preview {
  font-size: 24px;
  font-weight: bold;
  color: #9b9b9b;
}
</style>
