<template>
  <div class="container text-center mt-5">
    <img
        :src="getImage(postDetail.thumbnail)"
        class="w-50 h-25 center"
        alt=""
    />

    <div class="mt-3">
      <h2 class="text-success">{{ postDetail.title }}</h2>
      <p class="mt-2 text-justify" style="white-space: pre-wrap">
        {{ postDetail.content }}
      </p>
    </div>
    <div class="d-flex justify-content-between text-secondary mb-5">
      <div>
        <p class="mb-0 text-left">
          <i class="fas fa-feather-alt">
          </i> Author:  {{ postDetail.authorName }}
        </p>
        <p class="mb-0 text-left text-secondary"><i class="bi bi-tags"> Category: {{ postDetail.category }}</i></p>
      </div>
      <div>
        <p class="mb-0 text-right">
          <i class="far fa-calendar-alt"></i> Created on:
          {{ postDetail.createdDate | formatDate }}
        </p>
        <p class="mb-0 text-right">
          <i class="fas fa-edit"></i> Updated on:
          {{ postDetail.updatedDate | formatDate }}
        </p>
      </div>
    </div>
  </div>

</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      postDetail: {
        id: null,
        category: "",
        title: "",
        content: "",
        authorName: "",
        createdDate: null,
        updatedDate: null,
        thumbnail: ""
      }
    }
  },
  methods: {
    getImage(thumbnail){
      return process.env.VUE_APP_API_IMG + "/show/" + thumbnail
    }
  },
  created() {
    axios.get("http://localhost:9000/post/" + this.$route.params.id)
        .then(response => {
          this.postDetail = response.data.result
        })
  }

}
</script>

<style scoped>

</style>