<template>
  <div class="topnav d-flex align-items-center justify-content-between">
    <a class="active" href="/"
      ><div class="box">
        <div class="inner">
          <span v-if="!checkLogin" class="text-success">BBS - Hexagon</span>
          <span v-if="checkLogin" class="text-success">Hello!</span>
        </div>
        <div class="inner">
          <span v-if="!checkLogin">Van - Thoai - Cuong</span>
          <span v-if="checkLogin">{{ userName }}</span>
        </div>
      </div>
    </a>

    <div class="d-flex align-items-center">
    <div id="logo" v-if="checkLogin" class="mr-2">
      Welcome: <h1>{{userName}}</h1>
    </div>
      <div class="d-flex align-items-center">
        <router-link :to="'/create'" v-if="checkLogin">
          Create Post
        </router-link>
        <router-link :to="'/register'"> Register </router-link>
        <router-link :to="'/login'" v-if="!checkLogin"> Login </router-link>
        <a href="/" v-if="checkLogin" @click="logOut">Logout</a>
      </div>
      <input
        class="align-self-right my-auto rounded ml-4"
        type="text"
        placeholder="Search.."
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      checkLogin: null,
      userName: null,
    };
  },

  mounted() {
    this.checkAuth();
  },

  methods: {
    checkAuth() {
      this.userName = localStorage.getItem("username");
      if (this.userName) {
        this.checkLogin = true;
      } else {
        this.checkLogin = false;
      }
    },
    logOut() {
      console.log("Hello mother fucker");
      localStorage.clear();
    },
  },
};
</script>
<style scoped>
.topnav {
  overflow: hidden;
  background-color: #ccc;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
  border-radius: 0.5em;
  padding: 0.5em;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #0674f3;
  color: white;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}
</style>
<style scoped>
.box {
  display: flex;
}

.box .inner {
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.box .inner:first-child {
  background-color: indianred;
  color: darkred;
  transform-origin: right;
  transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
  background-color: lightcoral;
  color: antiquewhite;
  transform-origin: left;
  transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
  position: absolute;
  animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
  animation-delay: 2.5s;
  left: -100%;
}

@keyframes marquee {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}
</style>
<style scoped>
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:700,900&display=swap");

#logo div {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 100%;
  font-weight: 100;
  text-shadow: 3px 3px 0 #fe6077, -3px -3px #08b9e7;
  animation: textShadow 2s infinite;
  color: #1a1a1a;
  letter-spacing: 5px;
}

@keyframes textShadow {
  0% {
    text-shadow: 5px 5px 0 #fe6077, -5px -5px #08b9e7;
  }

  50% {
    text-shadow: 3px 3px 0 #fe6077, -3px -3px #08b9e7;
  }

  100% {
    text-shadow: 5px 5px 0 #fe6077, -5px -5px #08b9e7;
  }
}
</style>
