<template>
 <div>
   <div>
     <div class="container">
       <h2 class="font-weight-bold mt-4">All Post</h2>
       <h5>There are total {{ items.length }} post:</h5>
       <div class="row">
         <div
             v-for="(item, index) in list"
             :key="index"
             class="col-md-6 col-lg-4 col-12 pb-4 mt-4 item-poster"
             style="height: 350px"
         >
           <router-link :to="'/post/' + item.id" style="text-decoration: none; color: #2c3e50;">
             <img
                 alt=""
                 class="w-100 h-50 rounded d-block"
                 :src="getImage(item.thumbnail)"
             />
           </router-link>

           <div class="text-center">
             <h6 class="mt-3 text-success">{{ item.title }}</h6>
             <div class="mb-0 overflow-auto">{{ item.content.substring(0, 120) + "..." }}</div>
             <div class="item-footer d-flex justify-content-between text-secondary px-4">
               <p class="mb-0">
                 <i class="fas fa-feather-alt"></i> {{ item.authorName }}
               </p>
               <p class="mb-0">
                 <i class="far fa-calendar-alt"></i>
                 {{ item.createdDate | formatDate }}
               </p>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div v-if="checkLastPage" style="height: 375px;">

     </div>
     <div class="d-flex justify-content-center">
       <div class="overflow-auto">
         <b-pagination
             v-model="currentPage"
             :total-rows="rows"
             :per-page="size"
             aria-controls="myList"
             @change="onPageChanged"
         ></b-pagination>
       </div>
     </div>
   </div>
 </div>
</template>

<script>

import {getAllPost} from "@/service/services";

export default {
  data() {
    return {
      list: [],
      size: 6,
      currentPage: 1,
      items: [],
      checkLastPage: false
    };
  },
  methods: {
    getItemPage(currentPage) {
      this.list = this.items.slice((currentPage - 1) * this.size, currentPage * this.size)
    },
    onPageChanged(currentPage) {
      this.getItemPage(currentPage)
      this.checkLastPage = this.list.length < 4
    },
    getImage(thumbnail){
      return process.env.VUE_APP_API_IMG + "/show/" + thumbnail
    }

  },
  mounted() {
    getAllPost().then((response) => {
      this.items = response.data.result;
      this.getItemPage(this.currentPage);
    });
  },
  computed: {
    rows() {
      return this.items.length
    }
  }
}
</script>
<style scoped>
.item-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5em;
}

.item-poster:hover {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: gray;
}
</style>
