<template>
  <div id="form">
    <div id="logreg-forms">
      <h3 class="text-center mt-0"><i class="fas fa-user-lock"></i> Sign In</h3>
      <b-form @submit.stop.prevent="onSubmit" class="form-signin">
        <b-form-group label="Email">
          <b-form-input :state="validateEmail" v-model="email" id="email"></b-form-input>
          <b-form-invalid-feedback :show="validateEmail">{{
            errorEmailMessage
          }}</b-form-invalid-feedback>
          <b-form-valid-feedback :show="validateEmail"></b-form-valid-feedback>
        </b-form-group>
        <b-form-group label="Password">
          <b-form-input
            type="password"
            :state="validatePassword"
            v-model="password"
          ></b-form-input>
          <b-form-invalid-feedback :show="validatePassword">{{
            errorPasswordMessage
          }}</b-form-invalid-feedback>
          <b-form-valid-feedback
            :show="validatePassword"
          ></b-form-valid-feedback>
        </b-form-group>
        <b-form-group>
          <button type="submit" class="btn btn-block btn-primary mt-4">
           <h5 class="my-auto">Login</h5>
          </button>
        </b-form-group>
      </b-form>
    </div>
  </div>
</template>

<script>
import { login } from "@/service/services";
import jwt_decode from "jwt-decode";

export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      validateEmail: null,
      validatePassword: null,
      errorEmailMessage: "",
      errorPasswordMessage: "",
    };
  },
  methods: {
    isEmailValid() {
      const emailReg =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      this.validateEmail = emailReg.test(this.email);
    },
    isPasswordValid() {
      const passwordReg =
        /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
      this.validatePassword = passwordReg.test(this.password);
    },
    onSubmit() {
      if (this.email.length === 0) {
        this.errorEmailMessage = "Mail address is required!";
        this.validateEmail = false;
      } else if (!this.isEmailValid()) {
        this.errorEmailMessage = "Mail address must has format xxx@yyy.zzz";
        this.validateEmail = false;
      } else {
        this.validateEmail = true;
      }

      if (this.password.length === 0) {
        this.errorPasswordMessage = "Password is required";
        this.validatePassword = false;
      } else {
        this.errorPasswordMessage =
          "Password must have at least 8 characters including letters, numbers and special characters";
        this.validatePassword = false;
      }
      this.isEmailValid();
      this.isPasswordValid();

      if (this.validateEmail && this.validatePassword) {
        let user = {
          email: this.email,
          password: this.password,
        };

        login(user)
          .then((res) => {
            localStorage.setItem("jwt", res.data.result);
            localStorage.setItem(
              "username",
              jwt_decode(res.data.result).username
            );
          })
          .then(() => {
            this.$bvModal
              .msgBoxOk("Login successfully!", {
                size: "sm",
                buttonSize: "sm",
                okVariant: "success",
                centered: true,
              })
              .then(() => {
                this.$router.push("/");
                window.location.reload();
              });
          })
          .catch((err) => {
            if (err.response.data.error.code == 401) {
              this.errorPasswordMessage = err.response.data.error.message;
              // this.validateEmail = false
              this.validatePassword = false;
            } else if (err.response.data.error.code == 400) {
              this.errorEmailMessage = err.response.data.error.message;
              this.validateEmail = false;
            }
          });
      }
    },
  },
};
</script>

<style scoped>
#logreg-forms {
  width: 30em;
  margin: 10vh auto;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
}

#logreg-forms form {
  width: 100%;
  padding: 1em 1.5em;
  margin: auto;

}

#logreg-forms .form-signin input[type="password"], #logreg-forms button[type="submit"], #email  {
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  border-bottom-left-radius: 1.25em;
}


h3 {
  background-color: #f95252;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  color: #fff;
  padding: 0.5em 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* Mobile */

@media screen and (max-width: 500px) {
  #logreg-forms {
    width: 300px;
  }

}
</style>
