<template>
    <div id="logreg-forms">
      <h3 class="text-center my-0"><i class="fas fa-user-plus"></i> Sign Up</h3>

      <b-overlay :show="show" rounded="lg" id="overlay"  >
        <b-card :aria-hidden="show ? 'true' : null" id="bcard">
          <b-form @submit.stop.prevent="onSubmit" class="w-100 px-0">
            <b-form-group label="Email">
              <b-form-input :state="validateEmail" v-model="email" id="email"></b-form-input>
              <b-form-invalid-feedback :state="validateEmail">{{ errorEmailMessage }}</b-form-invalid-feedback>
            </b-form-group>
            <b-form-group label="Password">
              <b-form-input type="password" :state="validatePassword" v-model="password" id="password"></b-form-input>
              <b-form-invalid-feedback :state="validatePassword">{{ errorPasswordMessage }}</b-form-invalid-feedback>
            </b-form-group>
            <b-form-group label="Confirm Password">
              <b-form-input type="password" :state="validateRePassword" v-model="rePassword" id="rePassword"></b-form-input>
              <b-form-invalid-feedback :state="validateRePassword">{{ errorRePasswordMessage }}</b-form-invalid-feedback>
            </b-form-group>
            <b-form-group label="Username" >
              <b-form-input type="text" :state="validateUsername" v-model="username" id="userName"></b-form-input>
              <b-form-invalid-feedback :state="validateUsername">Password is required</b-form-invalid-feedback>
            </b-form-group>
            <button class="btn btn-primary btn-block mb-4 mt-5" variant="success" type="submit">Sign up</button>
          </b-form>
        </b-card>
      </b-overlay>
    </div>
  
</template>

<script>
import {registerUser} from "../service/services";

export default {
  name: "Register",
  data(){
    return{
      email: "",
      password: "",
      username: "",
      validateEmail: null,
      validatePassword: null,
      validateUsername: null,
      validateRePassword: null,
      errorEmailMessage: "",
      errorPasswordMessage: "",
      errorRePasswordMessage: "",
      show: false,
      rePassword: ""
    }
  },
  methods:{
    isEmailValid(){
      const emailReg = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      this.validateEmail = emailReg.test(this.email)
    },

    isPasswordValid(){
      const passwordReg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/
      this.validatePassword = passwordReg.test(this.password)
    },

    isMatchPassword(){
      if(this.rePassword === this.password){
        this.validateRePassword = true
      }
      else {
        this.validateRePassword = false
        this.errorRePasswordMessage = "Password doesn't match"
      }
    },
    onSubmit(){
      this.isEmailValid()
      if(this.email.length === 0){
        this.errorEmailMessage = "Mail address is required"
      }else {
        this.errorEmailMessage = "Mail address must has format xxx@yyy.zzz"
      }

      
      this.isPasswordValid()
      if(this.password.length === 0){
        this.errorPasswordMessage = "Password is required"
      }else{
        this.errorPasswordMessage = "Password must have at least 8 characters including letters, numbers and special characters"
      }
      this.validateUsername = (this.username.length > 0)

      this.isMatchPassword()

      if(this.validateEmail && this.validatePassword && this.validateUsername && this.validateRePassword){
        this.show = true
        let user = {
          email: this.email,
          password: this.password,
          username: this.username
        }
        registerUser(user).then(() => {
          this.show = false
          this.$bvModal.msgBoxOk("Sign up successfully! Please check email to active account!",  {
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'success',
            centered: true
          }).then(()=>{this.$router.push('/')})
        }).catch(err => {
          this.show = false
          if(err.response.data.error.code == 412){
            this.errorEmailMessage = err.response.data.error.message
            this.validateEmail = false

            this.$bvModal.msgBoxOk(`Signup failed! Reason: ${err.response.data.error.message}`, {
              size: 'sm',
              buttonSize: 'sm',
              okVariant: 'failure',
              centered: true
            })
          }
        })
      }
    }
  }
}
</script>

<style scoped>
#logreg-forms {
  width: 30em;
  margin: 10vh auto;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
}
#logreg-forms form {
  width: 100%;
  padding: 1em 1.5em;
  margin: auto;
}

#email, #password, #userName, button, #rePassword {
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  border-bottom-left-radius: 1.25em;
}
#bcard {
  background-color: #f3f3f3;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 1.25em;
  border-bottom-left-radius: 1.25em;
}
h3 {
  background-color: #09cf55;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  color: #fff;
  padding: 0.5em 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
</style>