<!--<template>-->
<!--  <div>-->
<!--    <div>-->
<!--      <div>-->
<!--        <input type="file" ref="input1"-->
<!--               @change="previewImage" >-->
<!--      </div>-->
<!--    </div>-->
<!--    <img :src="thumbnail"-->
<!--         alt="">-->
<!--  </div>-->
<!--</template>-->

<!--<script>-->
<!--import firebase from "firebase/compat";-->

<!--export default {-->
<!--  data() {-->
<!--    return {-->
<!--      caption: '',-->
<!--      thumbnail: '',-->
<!--      imageData: null-->
<!--    }-->
<!--  },-->
<!--  methods: {-->
<!--    create() {-->
<!--      const post = {-->
<!--        photo: this.img1,-->
<!--        caption: this.caption-->
<!--      }-->
<!--      firebase.database().ref('PhotoGallery').push(post)-->
<!--          .then((response) => {-->
<!--            console.log(response)-->
<!--          })-->
<!--          .catch(err => {-->
<!--            console.log(err)-->
<!--          })-->
<!--    },-->
<!--    previewImage(event) {-->
<!--      this.thumbnail = null;-->
<!--      this.imageData = event.target.files[0];-->
<!--      this.onUpload()-->
<!--    },-->
<!--    onUpload() {-->
<!--      this.thumbnail = null;-->
<!--      const storageRef = firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);-->
<!--      storageRef.on(`state_changed`, snapshot => {-->
<!--            this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;-->
<!--          }, error => {-->
<!--            console.log(error.message)-->
<!--          },-->
<!--          () => {-->
<!--            storageRef.snapshot.ref.getDownloadURL().then((url) => {-->
<!--              this.thumbnail = url;-->
<!--              console.log(this.thumbnail)-->
<!--            });-->
<!--          }-->
<!--      );-->
<!--    },-->
<!--  }-->
<!--}-->
<!--</script>-->

<!--&lt;!&ndash; Add "scoped" attribute to limit CSS to this component only &ndash;&gt;-->
<!--<style scoped>-->

<!--</style>-->
