<template>
  <div style="background-color: #e0edeb">
    <Header></Header>
    <router-view></router-view>

    <Footer></Footer>
  </div>
</template>

<script>

import Footer from "./components/Footer";
import Header from "./components/Header";
export default {
  name: "App",
  components: {
    Footer,
    Header,
  },
};
</script>

<style></style>
